<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!--begin::Card-->
            <div class="card card-custom example example-compact">
                <div class="card-header">
                    <h3 class="card-title">دفتر روزنامه</h3>
                </div>
                <!--begin::Form-->
                <div>
                    <div class="card-body inline-block">
                        <div class="form-group col-12 col-sm-12 col-md-4 col-xl-4">
                            <label class="col-form-label text-right col-12">از شناسه سند  :</label>
                            <div class="col-12">
                                <input ng-model="ctrl.searchDto.FromTransactionId" type="number" class="form-control" name="orderCode" placeholder="شناسه سند را وارد کنید" />
                            </div>
                        </div>
                        <div class="form-group col-12 col-sm-12 col-md-4 col-xl-4">
                            <label class="col-form-label text-right col-12">تا شناسه سند  :</label>
                            <div class="col-12">
                                <input ng-model="ctrl.searchDto.ToTransactionId" type="number" class="form-control" name="orderCode" placeholder="شناسه سند را وارد کنید" />
                            </div>
                        </div>
                        <div class="form-group col-12 col-sm-12 col-md-4 col-xl-4">
                            <label class="col-form-label text-right col-12">کد معین  :</label>
                            <div class="col-12">
                                <input ng-disabled="true" ng-model="ctrl.searchDto.AccountingSecondaryCodeId" type="number" class="form-control" name="orderCode" placeholder="کد معین را وارد کنید" />
                            </div>
                        </div>
                        <div class="form-group col-12 col-sm-12 col-md-4 col-xl-4">
                            <label class="col-form-label text-right col-12">کد تفصیلی یا نام شخص  :</label>
                            <div class="col-12">
                                <input ng-model="ctrl.searchDto.AccountingDetailedCode" type="text" class="form-control" name="orderCode" placeholder="کد تفصیلی یا نام شخص را وارد کنید" />
                            </div>
                        </div>
                        <div class="form-group col-12 col-sm-12 col-md-4 col-xl-4">
                            <label class="col-form-label text-right col-12">از تاریخ  :</label>
                            <div class="col-12">
                                <input ng-disabled="true" type="number" class="form-control" name="orderCode" placeholder="تاریخ را وارد کنید" />
                            </div>
                        </div>
                        <div class="form-group col-12 col-sm-12 col-md-4 col-xl-4">
                            <label class="col-form-label text-right col-12">تا تاریخ  :</label>
                            <div class="col-12">
                                <input ng-disabled="true" type="number" class="form-control" name="orderCode" placeholder="تاریخ را وارد کنید" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary font-weight-bold mr-2" ng-click="ctrl.getList(0)" name="submitButton">جستجو</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Form-->
                <div class="card-body pt-0 pb-3">
                    <div class="tab-content">
                        <!--begin::Table-->
                        <div class="table-responsive">
                            <table class="table table-head-custom table-head-bg table-borderless table-vertical-center text-center">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th>سناسه سند</th>
                                        <th>کاربر ثبت کننده</th>
                                        <th>کد معین</th>
                                        <th>کد تفصیلی</th>
                                        <th>عنوان تفصیلی</th>
                                        <th>تاریخ ایجاد</th>
                                        <th>مجموع بدهکاری(ریال)</th>
                                        <th>مجموع بستانکاری(ریال)</th>
                                        <th>واحد درخواست دهنده</th>
                                        <th>شناسه درخواست دهنده</th>
                                        <th>توضیحات</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ctrl.transactionDetails">
                                        <td>
                                            {{item.Id}}
                                        </td>
                                        <td>
                                            {{item.CreateAccountId}}
                                        </td>
                                        <td>
                                            {{item.AccuontingSecondaryCode}}
                                        </td>
                                        <td>
                                            {{item.AccountingDetailedCode}}
                                        </td>
                                        <td>
                                            {{item.AccountingDetailedTitle}}
                                        </td>
                                        <td>
                                            {{item.PersonCerateDate}}
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.Debtor | currency :"":"0"}} </span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.Creditor | currency :"":"0"}} </span>
                                        </td>
                                        <td>
                                            {{item.PersonApplicantType}}
                                        </td>
                                        <td>
                                            {{item.ApplicantId}}
                                        </td>
                                        <td>
                                            {{item.Description}}
                                        </td>
                                        <td class="pr-0">
                                            <a data-toggle="modal" data-target="#exampleModalSizeXl" class="btn btn-light-success font-weight-bolder font-size-sm">مشاهده</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pageBox">
                                <ul class="pageUl">
                                    <li>
                                        <a class="btnLi" title="اول"><i class="flaticon2-fast-next"></i></a>
                                    </li>
                                    <li>
                                        <a class="btnLi" title="قبلی"><i class="flaticon2-next"></i></a>
                                    </li>
                                    <li ng-repeat="i in [] | pageNumbers:ctrl.pageNumber:ctrl.pageSize:ctrl.totalCount" ng-class="i==ctrl.pageNumber+1?'active':''">
                                        <a ng-click="ctrl.getList(i-1)">{{i}}</a>
                                    </li>
                                    <li>
                                        <a class="btnLi" title="بعدی"><i class="flaticon2-back"></i></a>
                                    </li>
                                    <li>
                                        <a class="btnLi" title="آخر"><i class="flaticon2-fast-back"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end::Table-->
                    </div>
                </div>
            </div>
            <!--end::Card-->
        </div>
    </div>
</div>